.navbar-container {
  height: 60px;
  background-color: rgb(250, 250, 250);
}

.divisor {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

/* Parte da esquerda */
.esquerda {
  order: 1;
  flex: 1;
  display: flex;
  justify-content: flex-start;
}
.texto-cont {
  width: 100px;
}
.texto {
  cursor: pointer;
  align-items: flex-start;
  text-align: center;
  margin: 0;
  font-family: "Urbanist", sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 19px;
}

/* Parte do meio */
.nav-icon {
  display: none;
}
.meio {
  order: 2;
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.categorias {
  cursor: pointer;
  padding: 10px max(2%, 10px);
  text-transform: uppercase;
  text-align: center;
  font-family: "Urbanist", sans-serif;
  font-weight: bold;
  transition: 0.2s;
}
.categorias:hover {
  color: rgb(255, 196, 216);
}

/* Parte da esquerda */
.direita {
  order: 3;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  display: flex;
}
input {
  padding: 5px;
  margin: 0;
  width: 50%;
  height: 15px;
  border-width: 1px;
  border-color: rgb(228, 228, 228);
  border-radius: 3px;
}
img {
  cursor: pointer;
  padding-left: 5px;
  height: 25px;
}
.nav-img:hover {
  filter: invert(78%) sepia(13%) saturate(663%) hue-rotate(293deg)
    brightness(103%) contrast(101%);
  transition: 0.2s;
}

@media screen and (max-width: 900px) {
  .esquerda {
    order: 2;
    justify-content: center;
  }
  .meio {
    flex: 1;
    order: 1;
  }
  .nav-icon {
    display: flex;
  }
  .categorias {
    display: none;
  }
  input {
    width: 60%;
  }
}
