.prod_container {
  flex: 1;
  align-items: center;
  margin-left: 3em;
  margin-right: 3em;
  display: flex;
  flex-direction: column;
  width: 19em;
  height: 35em;
}
.img1_prod {
  margin: 0;
  width: 100%;
  height: auto;
}
.prod_text {
  margin: 0.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.prod_name {
  font-size: 1.3em;
}
.prod_price {
  font-size: 1.3em;
}
